body {
    margin: 0;
    background-color: #e0e0d1;
}

/*-------------FONT-DOWN-BELOW-------------------*/
@font-face {
    font-family: Hacked-Font;
    src: url(../font/Hacked-KerX.ttf)
}

/*-------------IDS-DOWN-BELOW-------------------*/
#menu-container-bar {
    background: white;
    height: 140px;
    min-height: 20px;
    width: 100%;
    min-width: auto;
    border-width: 5px;
    border-bottom: black;
}

#Website-Center-Title {
    color: purple;
    font-family: Hacked-Font;
    text-decoration: none;
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 80px;
    width: fit-content;
}

/*-------------CLASSES-DOWN-BELOW-------------------*/
.main-body {
    width: 1920px;
    min-width: 800px;
    height: 1200px;
    min-height: 600px;
}

/*-------------NAVBAR-DOWN-BELOW-------------------*/
.topnav {
    overflow: hidden;
    width: fit-content;
}

.topnav a {
    color: black;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}

.topnav a:hover {
    background-color: red;
}

.topnav a:active {
    color: ;
}