body {
    margin: 0;
    background-color: #e0e0d1;
}

/*-------------FONT-DOWN-BELOW-------------------*/
@font-face {
    font-family: Hacked-Font;
    src: url(../font/Hacked-KerX.ttf)
}

/*-------------ID'S-DOWN-BELOW-------------------*/